h1 Панель администратора
h2 Информация о постоянных покупателях
table(table border='1')
 tr
  
  th Покупатель
  th Телефон 
  th Адрес 
  th email 
  th login 
  th password 
 each val, index in customer
  tr 
   
   td #{val['user_name']}
   td #{val['user_phone']}
   td #{val['address']}
   td #{val['user_email']}
   td #{val['login']}
   td #{val['password']}   
   

a(href='/')
  button(class="show-nav") Перейти на сайт   