// страница оформления заказа

include header.pug

div(id='container' class='wrap')
  div(class='contentOrder')
    div(class='content')
      header(class='site-header')
        include site_header_order.pug


    div(class='container')
      div(class='rowCart')
      div(class='col col-md-12')
        form#lite-shop-order(action="")
                div(class='form-control')
                  label(for='login') Логин
                  input(
                      type='text',
                      id='login',
                      placeholder='Введите Ваш логин',
                      )
                
                div(class='form-control')
                  label(for='password') Пароль
                  input(
                      type='text',
                      id='password',
                      placeholder='Введите Ваш пароль',
                      )

                div(class='container')
                  div(class='rowOrder')
                    button(class='submit', type='submit')   
                      h2 Оформить заказ

                    
        div(class='rowReturn')
          a(href='cart')
            button(class='submit', type='submit') 
              h2 Вернуться к корзине 



div(class='gest')
  br
  br
  h3 Оформить заказ как гость

    div(class='container')
      div(class='rowCart')
      
      div(class='col col-md-12')
        form#order-gest(action="")
                div(class='form-control-gest')
                  label(for='gestname') Имя
                  input(
                      type='text',
                      id='gestname',
                      placeholder='Введите Ваше имя',
                      )
                div(class='form-control')
                  label(for='gestphone') Телефон
                  input(
                      type='text',
                      id='gestphone',
                      placeholder='+380505555555',
                      )
                div(class='form-control')
                  label(for='gestemail') Email
                  input(
                      type='text',
                      id='gestemail',
                      placeholder='mail@example.com',
                      )
                div(class='form-control')
                  label(for='gestaddress') Адрес
                  textarea(
                      id='gestaddress',
                      placeholder='Введите Ваш адрес',
                      )
                div(class='form-control')
                  label(for='rule') 
                    input(
                        type='checkbox',
                        id='rule',
                        value='1'
                        ) 
                    span  Я принимаю условия

                div(class='container')
                  div(class='rowOrder')
                    button(class='submit', type='submit')   
                      h2 Оформить заказ

                    
        div(class='rowReturn')
          a(href='cart')
            button(class='submit', type='submit') 
              h2 Вернуться к корзине        


  br            
  br


include footer.pug

script(src='js/order.js')